.index-body{
    background-color: #d2dae6;
    font-family:'Open Sans', sans-serif;
}
.tumblrnav{
    
    background-color: #36465D;
}
.navlogo{
    
    margin-right: 60px;
}

.tumblrinput{
    background-color: #2d3a4e;
    border-width: 0;
    outline: none;
    color: #c6c6c6;
    background-image: url('../TumblrImgs/searchIcon.png');
    background-position: 20px 7px; 
    background-repeat: no-repeat;
    padding: 3px 20px 3px 45px;
}

.navImg{
    margin-right: 30px;
}

.writeIcon{
    background-color: #529ecc;
    padding: 8px 8px;
    border-radius: 10%;
    overflow:auto;
    line-height: 1;
}

.main{
    margin-top: 40px;
}

.avatar{
    float: left;
}


.feedActions{
    background-color: white;
    margin-bottom: 30px;
    padding: 20px 30px 5px;
}

.blogs{
    background-color: white;
    padding-top:15px;
    padding-bottom: 15px;
    
}

.blogs{
    background-color: white;
    padding-top:15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    
}

.blog__avatar{
    
    margin-right: 15px;
}

.feedcard{
    background-color: white;
    margin-bottom: 30px;
    color: #8f8f8f;
}

.feedcard__header{
    padding: 20px 30px 5px;
}

.header__text__name{
    font-weight: 600;
}

.feedcard__header__text__link{
    margin-left: 30px;
}

.deleteButton{
    margin-right: 30px;
}

.card__photo{
    width: 100%;
}

.feedcard__footer{
    background-color: white;
    padding: 20px 30px 5px;
}

.feedcard__footer__icon{
    margin-right: 30px;
}

.blogs__title{
    padding: 0px 30px 15px;
    font-weight: bold;
}
.blogs__link{
    margin: 0px 30px 15px;
    font-weight: 600;
}

.blog{
    padding: 0 30px;
    width: 100%;
}
.blog__left__text__name{
    font-size: 14px;
    margin-bottom: 3px;
    line-height: 1;
    font-weight: 600;
    color: #565656;
}

.blog__left__text__desc{
    font-size: 12px;
    margin-bottom: 0px;
    line-height: 1;
    color: #b0b0b0;
}

.radar{
    background-color: white;
    padding: 30px;
    margin-bottom: 30px;
    
}

.radar__blog{
    
    margin-bottom: 15px;
}

.radar__footer{
    color: #8f8f8f;
    font-weight: 600;
}
.radar__title{
    margin-bottom:30px;
    font-weight: bold;
}

.radar__image{
    width: 100%;
    margin-bottom: 10px;
}

.footer_icons_i{
    margin-left: 15px;
}

.light{
    color: #A0A0A0;
}

.icon-on{
    color: white;
}

.icon-off{
    color: #6E7A8A;
}

.modal-title{
    font-size: 14px;
    font-weight: bold;
}

.modal-body{
    background-color: #f3f3f3;
    padding: 65px 0;
}

.option__text{
    margin-top: 30px;
    color: #bbbbbb;
}

.modal__footer__close{
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 11px;
}

.modal__footer__post{
    background-color: #529ecc;
    border: none;
    border-radius: 10%;
    padding: 13px 22px;
    font-weight: bold;
    color: white;
    line-height: 1;
    font-size: 13px;
}

.post__arrow{
    margin-left: 15px;
}