body{
    background-color: #d2dae6;
}
.tumblrnav{
    padding: 20px;
    background-color: #36465D;
}
.navlogo{
    margin-left: 60px;
    margin-right: 60px;
}

.tumblrinput{
    background-color: #2d3a4e;
    border-width: 0;
}

.navImg{
    margin-right: 30px;
}

main{
    margin-top: 40px;
}

.avatar{
    float: left;
}


.feedActions{
    background-color: white;
    margin-bottom: 30px;
    padding: 20px 30px 5px;
}

.aside{
    background-color: white;
    
}

.blog__avatar{
    
    margin-right: 15px;
}

.feedcard{
    background-color: white;
    margin-bottom: 30px;
}

.feedcard__header{
    padding: 20px 30px 5px;
}

.deleteButton{
    margin-right: 30px;
}

.card__photo{
    width: 100%;
}

.feedcard__footer{
    background-color: white;
    padding: 20px 30px 5px;
}

.feedcard__footer__icon{
    margin-right: 30px;
}

.blog{
    margin: 0 30px;
}
.blog__left__text__name{
    font-size: 16px;
    margin-bottom: 3px;
    line-height: 1;
}

.blog__left__text__desc{
    font-size: 12px;
    margin-bottom: 0px;
    line-height: 1;
}