body{
    background-color: #d2dae6;
}
.tumblrnav{
    padding: 20px;
    background-color: #36465D;
}
.navlogo{
    margin-left: 60px;
    margin-right: 60px;
}

.tumblrinput{
    background-color: #2d3a4e;
    border-width: 0;
}

.navImg{
    margin-right: 30px;
}

main{
    margin-top: 40px;
}
.feed{
    height: 700px;
    background-color: red;
}

.avatar{
    float: left;
}




.aside{
    height: 700px;
    background-color: white;
}

.feedcard{
    background-color: white;
    height: 400px;
}

.feedcard__header{
    padding: 20px 30px 5px;
}

.deleteButton{
    margin-right: 30px;
}

.card__photo{
    width: 100%;
}

.feedcard__footer{
    background-color: white;
    padding: 20px 30px 5px;
}

.feedcard__footer__icon{
    margin-right: 30px;
}