.login-main{
  padding-top: 18.2vh;
  
}

.login-body{
  background-image: url(../TumblrImgs/BG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  
}
.login{
  margin-bottom: 10vh;
}

.login__form{
  width: 100%;
}

.login__logo{
  margin-bottom: 7vh;
}

.login__form__email-input{
  padding: 12px 30px;
  margin-bottom: 3.6vh;
  line-height: 1;
}

.login__form__next-btn{
  background-color: #ec8524;
  color: white;
  padding: 12px 0;
  border: none;
  font-weight: bold;
  margin-bottom: 7.2vh;
  line-height: 1;
  width: 100%;
  
}

.login__form__sign-up-link{
  background-color: transparent;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 18px;
}

.footer__link{
  color: #9fa3a7;
}

#error-message{
  display: none;
}